* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.navbar-brand{ 
    color: #236b64 ;
}
.nav-link{
    color: #00b89f ;
}
body{
    background-color: #d6fff9;
}
img{
    width: 250px;
}
footer {
    background-color: #236b64;
    padding: 10px;
    padding-top: 0px;
    height: 140px;
    color: #d6fff9;
}
.link-footer{
    text-decoration: dotted;
    color: #d6fff9;
}
.icone-footer{
    width: 18px;
}
.title-content{
    justify-items: center;
}
#img-title{
    height: 250px;
    border-radius: 4px;
}
.about{
    padding: 50px;
    text-align: justify;
}
#cards-div{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border-radius: 4px;
}


#footer-us{
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
}
footer span{
    font-size: 12px;
}